
@font-face {
    font-family: 'BebasNeue';
    src: url('fontes/BebasNeue-Regular.ttf');
}
*{
    margin: 0;
    font-family: BebasNeue;
}
.no-phone{
    display: none;
}
body{
    background: linear-gradient(180deg, transparent, #5d5e60);
    background-attachment: fixed;
}

header{
    position: fixed;
    top: 0;
    height: 10vh;
    background: linear-gradient(90deg, transparent, #606164);
}
div.header{
    height: 100%;
    display: flex;
    align-items: center;
}
div.span{
    margin: 10px;
    display: flex;
    align-items: center;
    width: 10%;
}
div.id{
    display: flex;
    justify-content: center;
    width: 80%;
}
div.id h1{
    color: rgb(0, 4, 83);
    font-size: 6vw;
}
div.menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 10px;
    width: 10%;
}
button.btn-menu-phone{
    border: none;
    width: 48px;
    height: 38px;
    background: transparent;
    background: url('media/menu-phone.png') no-repeat;
    background-size: contain;
}
nav.menu.phone{
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    top: 0;
    right: 0;
    border-radius: 0 0 0 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.97), #606164f6, #606164f6);
    padding: 15px;
    position: absolute;
}
nav.menu.phone img{
    width: 12vw;
}
nav.menu.phone ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 20vh;
    padding-right: 10vw;
    text-align: center;
}
nav.menu.phone ul li{
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.97), transparent);
    list-style: none;
}
nav.menu.phone ul li a{
    text-decoration: none;
    color: rgb(0, 4, 83);
    font-size: 3vh;
}

/*SECTION*/
section{
    box-shadow: -2px -2px 3px black;
    margin-top: 10vh;
    height: 90vh;
    border-radius: 100px 0 0 0;
    width: 95vw;
    float: right;
}
div.cima{
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 40%;
}
div.cima div.id{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.id h2{
    margin-bottom: 5vh;
    color: #2c2c2e;
}
div.id p{
    color: #2c2c2e;
    text-align: center;
}
div.baixo-phone{
    background-image: url('media/bg-p-fibra.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    height: 60%;
}
div.baixo-phone h3{
    backdrop-filter: blur(5px);
    background: linear-gradient(180deg, #2c2c2e, transparent);
    font-size: 40px;
    padding: 20px;
    color: #59d3f9;
}