*{
    margin: 0;
}
body{
    height: 100vh;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    position: fixed;
    box-shadow:  0 .2rem 3rem rgba(205, 205, 205, 0.722);
}

div.cabecalho{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
span.icon img{
    width: 3rem;
}
div.span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 28%;
}
div.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}
nav#menu ul li{
    display: inline-block;
}
hr.hr-menu{
    background-color: black;
    width: 1px;
    size: 100px;
    display: inline-block;
    margin-bottom: -.5rem;
}
nav#menu ul li a{
    padding: .3rem;
    border-right: 2px solid black;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all .2s;
    border-radius: 0 10px 0 0;
}
nav#menu ul li a:hover{
    border-color: rgb(34, 0, 255);
    color: rgb(34, 0, 255);
}