
@font-face {
    font-family: 'BebasNeue';
    src: url('fontes/BebasNeue-Regular.ttf');
}
*{
    margin: 0;
    font-family: BebasNeue;
}
.no-pc{
    display: none;
}
body{
    background: url('media/bg.jpg') no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
    height: 200vh;

}

header{
    z-index: 15;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.844), #606164);
}
div.header{
    height: 100%;
    display: flex;
    align-items: center;
}
div.span{
    margin: 30px;
    display: flex;
    align-items: center;
    width: 15%;
}
div.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 85%;
    padding-right: 30px;
}
nav.menu ul li{
    list-style: none;
    display: inline-block;
}
nav.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 4vh;
    padding: 0 5px 0 5px;
    border-right: 2px solid white;
    border-radius: 0 10px 0 0;
    transition: all .3s;
}
nav.menu ul li a:hover{
    color: rgb(0, 153, 255);
    font-size: 4.5vh;
    border-right: 2px solid rgb(0, 51, 255);;
}

/*SECTION*/
section{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    height: 90vh;
    padding-top: 10vh;
}
div.cima{
    padding: 1vh;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 5vw;
    weight: 100%;
    height: 20vh;
}
div.cima h1{
    font-size: 5vw;
    text-shadow: 1px 1px 3px #0edbf7;
    color: #2c2c2e;
}
div.cima h2{
    font-size: 3.5vw;
    text-shadow: 1px 1px 3px #0edbf7;
    color: #2c2c2e;
}
div.baixo{
    backdrop-filter: blur(15px);
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    height: 70vh;
}
div.box{
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-radius: 100px 0 0 0;
    background-image: url('media/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    transition: all .3s;
    width: 90%;
}
div.box div.left{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 60%;
}
ul.isues{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}
li.isue{
    width: 30vw;
    cursor: pointer;
    color: #ffff;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, transparent, #606164);
    padding-left: 5px;
    padding: 10px;
    padding-right: 30px;
    border-radius: 50px;
    transition: all .3s;
}
li.isue:hover{
    color: #ffff;
    font-size: 2.3vw;
    background: linear-gradient(90deg, #606164b0, #141415);

}
div.box div.right{
    width: 40%;
    
}